<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Associations: </strong>

  <% @buisnesses.each do |buis| %>
    <p>
    <%= buis.name %>
    <%= link_to "Buisness Page", buis %>
    <p>
  <%end%>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
